{% extends 'base.html' %} {% load static %} {% block content %}
<main class="p-8 container mx-auto">
  <div class="text-center text-3xl text-blue-500 mb-8">{{ page_name }}</div>
  {% if tasks %}
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {% for task in tasks %}
    <div class="max-w-md bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl p-4 transition-transform duration-300 transform hover:scale-[1.02]">
        <div class="md:flex">
        <div class="md:shrink-0">
          <div class="flex items-center justify-center h-12 w-12 bg-indigo-300 rounded-full">
            <img src="{% static 'images/working_tasks.png' %}" alt="T" class="size-9" />
          </div>
        </div>

        <div class="mt-4 md:mt-0 md:ml-6 w-full">
          <div class="flex justify-between items-center">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold ">{{ task.title|truncatechars:25 }}</div>
            <div class="text-gray-500 bg-gray-100 p-2 rounded-2xl whitespace-nowrap">{{ task.time_update }}</div>
          </div>
          <p class="mt-2 text-gray-500">{{ task.description|truncatechars:50 }}</p>
          <div class="mt-4 flex justify-between">
            <div class="flex flex-col text-gray-500 bg-gray-100 p-2 rounded w-60">
              <strong>Автор:</strong>
              <div scope="row" class="flex items-center whitespace-nowrap">
                {% if task.author.photo %}
                <img class="object-cover size-10 rounded-full" src="{{ task.author.photo.url }}" alt="Avatar" />
                {% else %}
                <img class="size-10 rounded-full" src="{% static 'images/default_avatar.jpg' %}" alt="Avatar" />
                {% endif %}
                <div class="ml-3">
                  <h4 class="text-base font-medium text-slate-700">{{ task.author.get_full_name|title|truncatechars:18 }}</h4>
                  <p class="text-base font-mono text-slate-500">{{ task.author.email|truncatechars:18 }}</p>
                </div>
              </div>
            </div>

            <div class="flex flex-col text-gray-500 bg-gray-100 p-2 rounded w-60">
              <strong>Исполнитель:</strong>
              <div scope="row" class="flex items-center whitespace-nowrap">
                {% if task.worker.photo %}
                <img class="object-cover size-10 rounded-full" src="{{ task.worker.photo.url }}" alt="Avatar"/>
                {% else %}
                <img class="size-10 rounded-full" src="{% static 'images/default_avatar.jpg' %}" alt="Avatar"/>
                {% endif %}
                <div class="ml-3">
                  <h4 class="text-base font-medium text-slate-700">{{ task.worker.get_full_name|title|truncatechars:18 }}</h4>
                  <p class="text-base font-mono text-slate-500">{{ task.worker.email|truncatechars:18 }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-end items-center mt-4 space-x-2">
        <form method="post" class="bg-transparent flex items-center">
          {% csrf_token %}
          <input type="hidden" name="task_id" value="{{ task.id }}" />
          <button type="submit" class="mr-2 transition-transform duration-300 transform hover:scale-125">
            <img src="{% static 'images/done_btn.png' %}" alt="Done" class="size-10" />
          </button>
        </form>
        <a href="{{ task.get_absolute_url }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Подробнее</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="text-center text-gray-500 text-xl">Пока для вас задач нет</div>
  {% endif %}
</main>
{% endblock content %}
